/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Wrapper Styles
================================================== */
.wrapper{
	background:url(../images/light_texture.png) repeat;
}

.wrapper.header{
	background:#fff;
}

.wrapper.primary,
.wrapper.copyright{
	background: #008B95; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#008B95, #006a72);
	background: -o-linear-gradient(#008B95, #006a72);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#008B95), to(#006a72)); /* older webkit syntax */
	background: -webkit-linear-gradient(#008B95, #006a72);
	-webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	-moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 2px;
	}
	
.wrapper.navigation{
	background: #008B95; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#008B95, #006a72);
	background: -o-linear-gradient(#008B95, #006a72);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#008B95), to(#006a72)); /* older webkit syntax */
	}
	
.wrapper.footer{
	background:#e3e2e0;
	}




/* #Site Styles
================================================== */

*{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	}
	
img{
	max-width:100%;
}

/* #Custom Font
================================================== */

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('../fonts/BebasNeue-webfont.eot');
    src: url('../fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/BebasNeue-webfont.woff') format('woff'),
         url('../fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face{ 
	font-family: 'WebSymbolsRegular';
	src: url('../fonts/websymbols-regular-webfont.eot');
	src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/websymbols-regular-webfont.woff') format('woff'),
	     url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
	     url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
	}


/* #Heading 
================================================== */
header.top{
	padding:35px 0;
	}

header h1.logo{
	margin:7px 0 0 0;
	float:left;
	}
	
header h1.logo a{
	width:271px;
	height:56px;
	display:block;
	background:url(../images/logo.gif) no-repeat;
	
	font:0/0 a;
	text-shadow:none;
	color:transparent;
	}

p.desc{
	float:right;
	margin-top:10px;
}

/* #Navigation Styles
================================================== */
nav.primary ul,
nav.primary ul li{
	margin:0px;
	}
	
nav.primary select{
	display:none;
	width:100%;
	height:28px;
	margin:21px 0;
}
	
nav.primary ul li{
	display:inline;
	float:left;
	position:relative;
}

nav.primary ul li a{
	display:inline-block;
	line-height:49px;
	padding: 0 14px;
	color:#eaeaea;
	text-decoration:none;
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:0.08em;
	}
	
nav.primary ul li a:hover{
	background: #f9f9f9; /* Show a solid color for older browsers */
	background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
	background: -o-linear-gradient(#f9f9f9, #e5e5e5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e5e5e5)); /* Older webkit syntax */
	background: -webkit-linear-gradient(#f9f9f9, #e5e5e5);
	color: #373737;
	cursor:pointer;
	}

/* Sub primary */

nav.primary ul ul{
	opacity:0;
	filter:alpha(opacity=0);	
	background:#008B95;
	position:absolute;
	z-index:999;
	
	height:0px;
	overflow:hidden;
	
	min-width:150px;
	
	-webkit-transition:opacity 0.4s ease-out;
	-moz-transition:opacity 0.4s ease-out;
	-o-transition:opacity 0.4s ease-out;
	-ms-transition:opacity 0.4s ease-out;
	transition:opacity 0.4s ease-out;
	
	-webkit-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 2px rgba(0,0,0,0.3);	
	}
	
nav.primary ul li span{
	display:none;
}
	
nav.primary ul li:hover ul{
	opacity:10;
	filter:alpha(opacity=100);
	height:auto;
	overflow:auto;
	}
	
nav.primary ul ul li{
	float:none;
	display:list-item;
	border-bottom: 1px dotted #ddd;
	}

nav.primary ul ul li a{
	display:block;
	line-height:35px;
	text-transform:none;
	}

nav.primary ul li:hover > a{
	color:#008B95;
	background: #f9f9f9;
	background: -moz-linear-gradient(#f9f9f9, #e5e5e5);
	background: -o-linear-gradient(#f9f9f9, #e5e5e5);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#e5e5e5)); /* Older webkit syntax */
	background: -webkit-linear-gradient(#f9f9f9, #e5e5e5);
	}

/* # Post Styles
================================================== */

article{
	margin:21px 0 21px 0;
	}

/*images */
figure{
	padding:6px;
	border:1px solid #ededed;
	background: #fff;
	line-height:0px;
	}

.featured h2{
	margin-top:21px;
	background:url(../images/pattern5.png);
	border-bottom:#96a1b5 1px solid;
	padding:7px;
	}

.featured h3{
	margin-top:21px;
	padding:7px;
	}
	
.featured .post_cat{
	background:#f9f9f9;
	height:565px;
	position:relative;
	-webkit-box-shadow:#666 0px 0px 2px;
	-moz-box-shadow:#666 0px 0px 2px;
	box-shadow:#666 0px 0px 2px;
	}

.featured .post_cat span{
	background:url(../images/pattern1.png) repeat;
	font-size:14px;
	line-height:1em;
	margin:28px 0 0;
	}
	
.featured .post_cat .meta,
.featured .post_cat p,
.featured .post_cat .button{
	margin-left:10px;
	}
	
.featured .post_cat .meta a{
	text-decoration:none;
	}
	
.featured .post_cat .meta a:hover{
	color:#17516a;
	}
		
.cat_name{
	margin-left:10px;
	}

.cat_name a{
	text-decoration:none;
	}
	
.cat_name a:hover{
	color:#17516a;
	border-bottom:1px dashed #666;
	}




/* Most Recent Posts */

article .breadcrumbs,
article .meta{
	margin-bottom:7px;
	}
	
	
/* Pagination */	

.wp-pagenavi {
	clear: both;
	width:100%;
	text-align:center;
	margin:21px 0 35px 0;
}



.wp-pagenavi a, .wp-pagenavi span {
	display:inline-block;
	line-height:35px;
	width:35px;
	height:35px;
	text-align:center;
	padding: 0 7px;
	text-decoration:none;
	font-weight:bold;
	border-bottom:3px solid #ccc;
	}
	
.wp-pagenavi a, .wp-pagenavi span,v 
.wp-pagenavi a:hover, .wp-pagenavi span.current{
	background:#17516a;
	border:none;
	color:#fff;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #fff;
}
	
/* #Sidebar Styles
================================================== */

aside{
	margin:0;
	padding:0;
	}
	
.sub header{
	background:url(../images/pattern1.png) repeat;
	font-size:14px;
	line-height:14px;
	margin:28px 0;
	}

.sub header h4{
	color:#17516a;
	font-size:21px;
	line-height:1em;
	text-transform:uppercase;
	background:url(../images/light_texture.png) repeat #f8f8f8;
	display:inline;
	padding: 0 10px;
	margin: 0 0 0 14px;
	letter-spacing:0.1em; 
	}
	
.subscribe header{
	margin-top:0px;
	}

.icons{
	font-family:WebSymbolsRegular;
	font-size:28px;
	line-height:1em;
	}
	
.icons.rss{
	color:#ef7908;
	}

.icons.twitter{
	color:#39bae6;
	}
		
.subscribe span{
	width:30%;
	float:left;
	}

.subscribe p{
	width:70%;
	float:right;
	margin:0;
	font-family:Georgia, "Times New Roman", Times, serif;
	}

.subscribe em{
	font-size:21px;
	font-style:normal;
	}
	
ul.categories{
	background:url(../images/light_texture.png); 
	margin:0;
	}

ul.categories li{
	background:url(../images/pattern4.png) repeat-x left bottom;
	margin:0;
	}

ul.categories li a{
	margin-left:25px;
	text-decoration:none;
	line-height:28px;
	display:block;
	color:#17516a;
	}
		
ul.categories li a:hover,
ul.categories li a:active{
	color:
	}
	
/* Tabs */
ul.tabs{
	margin:0;
	}

ul.tabs li.fb{
	background:url(../images/facebook_32.png) no-repeat;
	}


ul.tabs li{
	position:relative;
	top:1px;
	}

ul.tabs li a.active{
	height:34px;
	background:#17516a;
	color:#eaeaea;
	}
	
.tabs-content p{
	margin-top:21px;
}
	

/* Form Styling */ 
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
	}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
	}
	
input[type=search]:focus{
	outline:none;
	}




/* #Footer Styles
================================================== */
footer a,
footer a:visited{
	color:#444444;
	text-decoration:none;
	}
	
footer a:hover{
	text-decoration:none;
	}

footer h3.logo{
	margin:14px 0 21px;
	}
	
footer h3.logo a{ /* remove if not using a small rgu logo */
	width:271px;
	height:56px;
	display:block;
	background:url(../images/logo.gif) no-repeat;
	
	font:0/0 a;
	text-shadow:none;
	color:transparent;
	}

footer.primary header{
	background:url(../images/pattern1.png) repeat;
	font-size:14px;
	line-height:1em;
	margin:28px 0 0;	
	}

footer.primary h4{
	background:#e3e2e0;
	margin:0 0 0 14px;
	display:inline;
	padding:0 10px
	}
	
footer.primary p{
	margin:14px 0 0 0;
	}

/* Footer Lists */
footer.primary li{
	padding:21px 0;
	margin:0;
	background:url(../images/pattern4.png) repeat-x left bottom;
	color:;
	}

footer.primary li:last-child{
	background:none;
	}


/* Flickr Styles */

div.flickr{
	padding:21px 0 0 0;
	}
	
div.flickr img{
	float:left;
	width:46%;
	margin:2%;
	padding:6px;
	border:1px solid #ededed;
	background:#fff;
	}
	
	
/* Vimeo Styles */
.vimeoBadge { margin: 0; padding: 0; font: normal 11px verdana,sans-serif; }
.vimeoBadge img { border: 0; }
.vimeoBadge a, .vimeoBadge a:link, .vimeoBadge a:visited, .vimeoBadge a:active { color: #3A75C4; text-decoration: none; cursor: pointer; }
.vimeoBadge a:hover { color:#00CCFF; }
.vimeoBadge #vimeo_badge_logo { display:none; }
.vimeoBadge .credit { font: normal 11px verdana,sans-serif; }
.vimeoBadge .clip { padding:0; float:left; margin:10px 10px 10px 10px; width:80px; line-height:0; }
.vimeoBadge .caption { font: normal 11px verdana,sans-serif; overflow:hidden; width:80px; height: 30px; }
.vimeoBadge .clear { display: block; clear: both; visibility: hidden; } 



/* Disqus */
.dsq-widget-title{
	background:url(../images/pattern1.png) repeat;
	font-size:21px;
	line-height:1em;
	margin:28px 0 0;	
	}


/* Copyright and WP Login */
.copyright footer{
	font-size:12px;
	}

div.wp-login{
	text-align:right;
	}
 div.wp-login a{
	 text-decoration:none;
 }


/* #Page Styles
================================================== */



/* #Flexible Embedding
================================================== */
.embed{
	position:relative;
	padding:0;
	padding-bottom:56.25%; /*16:9 ratio*/
	height:56.25%;
	overflow:hidden; 
	}

.embed iframe,
.embed object,
.embed embed{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
	


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		
		
		nav.primary select{
			display:block;
		}
		
		nav.primary ul{
			display:none;
		}
			
		.copyright .secondary{
			text-align:center;
		}

		.menu-main-nav-menu-container{
			display:none;
		}
		
	
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
		
		article .three.thumbnail{
			display:none;
		}

	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
		
		article .three.thumbnail{
			display:none;
		}	
		
		footer .four.flickr_feed{
			display:none;
		}
		
		footer .four.latest_posts{
			display:none;
		}
		
		footer .four.recent_comments{
			display:none;
		}

		
    }


